include ../../mixin.pug

div.component-transition
  article.example-article
    +section('fold', '折叠')
      z-btn(
        :ui='typeUI'
        :theme='typeTheme'
        @click='fold'
      ) 折叠
      z-btn(
        :ui='typeUI'
        :theme='typeTheme'
        @click='unfold'
        class='z-css-m-l'
      ) 展开
      div.transitioner
        z-motion-fold(
            display
            ref='fold'
            :height='30'
            :offset='100'
        )
          div 我被折叠展开了！
      z-code(type='html', :theme='typeTheme').
        #{'<z-btn @click="fold">'}
          折叠
        #{'</z-btn>'}

        #{'<z-btn @click="unfold">'}
          展开
        #{'</z-btn>'}

        #{'<z-motion-fold ref="fold">'}
          #{'<div>我被折叠展开了！</div>'}
        #{'</z-motion-fold>'}
      z-code(type='js', :theme='typeTheme').
        ...
          methods: {
            fold() {
              this.$refs.fold.enter()
            },
            unfold() {
              this.$refs.fold.leave()
            }
          }