include ../../mixin.pug

div
  article.example-article
    +section('start', '开始使用')

      z-row(:gap='10')
        z-col(:l='4', :xs='12') name:
        z-col(:l='4', :xs='8')
          z-input(number, init-val='test-input')
        z-col(:l='4', :xs='4') 测试1
      z-row(:gap='10')
        z-col(:l='4', :xs='12') test1:
        z-col(:l='8', :xs='12')
          z-input(init-val='test2-input')
      z-code.
        #{'<z-row :gap="10">'}
          #{'<z-col :l="4" :xs="12">name: </z-col>'}
          #{'<z-col :l="4" :xs="8">'}
            #{'<z-input'}
                number
                #{'init-val="test-input"'}
            #{'</z-input>'}
          #{'</z-col>'}
          #{'<z-col :l="4" :xs="4">'}
            #{'<z-input init-val="test-input" query-name="test"></z-input>'}
          #{'</z-col>'}
        #{'</z-row>'}
        #{'<z-row :gap="10">'}
          #{'<z-col :l="4" :xs="12">test1: </z-col>'}
          #{'<z-col :l="8" :xs="12">'}
            #{'<z-input'}
                #{'init-val="test2-input"'}
            #{'</z-input>'}
          #{'</z-col>'}
        #{'</z-row>'}
    +section('rowProps', 'row 的 props 数据类型')
      z-table(
          border='row'
          auto
          :pageSize='10')
        template(
            slot='thead'
            v-for='item in ["名字", "类型", "可选值", "说明"]')
          z-table-col {{ item }}
        z-table-row(slot='1')
          z-table-col align
          z-table-col String
          z-table-col (start, end, *center)
          z-table-col.
            定义了列在行上垂直方向上的对齐方式，对应 flex 的 align-items 属性
        z-table-row(slot='2')
          z-table-col gap
          z-table-col Number
          z-table-col ——
          z-table-col 每列的间隔是多少（px）-- 草案
        z-table-row(slot='3')
          z-table-col justify
          z-table-col String
          z-table-col (start, end, center, *justify)
          z-table-col.
            定义了列在行上的水平空间的对齐方式，对应 flex 的 justify-content 属性
        z-table-row(slot='4')
          z-table-col wrap
          z-table-col String
          z-table-col (nowrap | wrap)
          z-table-col.
            定义列的换行模式，对应 flex 的 flex-wrap 属性（nowrap | wrap）
        //- z-table-row(slot='5')
        //-   z-table-col type
        //-   z-table-col String
        //-   z-table-col (*flow)
        //-   z-table-col 布局类型
    +section('colProps', 'col 的 props 数据类型')
      z-table(
          border='row'
          auto
          :pageSize='10')
        template(
            slot='thead'
            v-for='(item, index) in ["名字", "类型", "可选值", "说明"]')
          z-table-col(:max-width='index === 3 ? "30%" : ""') {{ item }}
        z-table-row(slot='1')
          z-table-col gap
          z-table-col Number
          z-table-col (1~12)
          z-table-col.
            定义间隔的宽度（px），覆盖行设置的间隔 (5, 10, 20, 30, 40, 50)
        z-table-row(slot='2')
          z-table-col pull
          z-table-col Number
          z-table-col (1~12)
          z-table-col.
            定义了列在 x 反方向偏移的栅格数
        z-table-row(slot='3')
          z-table-col push
          z-table-col Number
          z-table-col (1~12)
          z-table-col.
            定义了列在 x 正方向偏移的栅格数
        z-table-row(slot='4')
          z-table-col offset
          z-table-col Number
          z-table-col (1~12)
          z-table-col.
            定义了列离开头的栅格数
        z-table-row(slot='5')
          z-table-col span
          z-table-col Number
          z-table-col (1~12)
          z-table-col.
            定义了列在行上的水平跨度（采用 12 栏栅格）
        z-table-row(slot='6')
          z-table-col xs
          z-table-col Number
          z-table-col (1~12)
          z-table-col 加小型设备的水平跨度栅格数
        z-table-row(slot='7')
          z-table-col s
          z-table-col Number
          z-table-col (1~12)
          z-table-col 小型设备的水平跨度栅格数
        z-table-row(slot='8')
          z-table-col m
          z-table-col Number
          z-table-col (1~12)
          z-table-col 中型设备的水平跨度栅格数
        z-table-row(slot='9')
          z-table-col l
          z-table-col Number
          z-table-col (1~12)
          z-table-col 大型设备的水平跨度栅格数
        z-table-row(slot='10')
          z-table-col xl
          z-table-col Number
          z-table-col (1~12)
          z-table-col 加大型设备的水平跨度栅格数
        z-table-row(slot='11')
          z-table-col grid
          z-table-col Object
          z-table-col (1~12)
          z-table-col
            p 集合所有设备水平跨度的栅格数，例如
            |
            | {xs: 4, l: 8, span: 9}