include ../../mixin.pug

div.component-pop
  article.example-article
    +section('basic', '基本用法')
      z-list(
          page-type='more'
          page-trigger='click'
          auto
          pager
          class='z-m-t'
          ':page-size'='7'
          ':item'='testOpt')
        template(scope='props')
          div {{ props.item.text }}asdfkj 打发士大夫 asdfasdi  sdf 士大夫 asdf dafdf打发士大夫asdsf sadf

      z-code(v-pre).
        #{'<z-list'}
            page-type="more"
            page-trigger="click"
            auto
            pager
            class="z-m-t"
            :page-size="7"
            :item="testOpt"#{'>'}
          #{'<z-template scope="props">'}
            #{'<div>'}
              {{ props.item.text }}asdfkj 打发士大夫 asdfasdi  sdf 士大夫 asdf dafdf打发士大夫asdsf sadf
            #{'</div>'}
          #{'</z-template>'}
        #{'</z-list>'}
    +section('props', 'props 数据类型')
      z-table(
          border='row'
          auto
          :pageSize='10')
        template(slot='thead')
          z-table-col(th) 名字
          z-table-col(th, omit) 类型
          z-table-col(th, omit) 可选值
          z-table-col(th, width='40%', omit) 说明
        z-table-row(slot='1')
          z-table-col auto
          z-table-col Boolean
          z-table-col ( *false | true )
          z-table-col 根据传入的列表数据生成分页数据
        z-table-row(slot='2')
          z-table-col item
          z-table-col Array
          z-table-col ——
          z-table-col 列表数据
        z-table-row(slot='3')
          z-table-col page
          z-table-col String
          z-table-col ——
          z-table-col
            p 分页数据（没传的话，默认将传的列表数据（item）作为分页数据）
            ul
              li total: 总共得页数
              li length: 列表条数
              li size: 每页得数据数
              li current: 当前页码
        z-table-row(slot='4')
          z-table-col pager
          z-table-col Boolean
          z-table-col ( *false | true )
          z-table-col 启动分页功能
        z-table-row(slot='5')
          z-table-col pageSize
          z-table-col Number
          z-table-col ——
          z-table-col 将列表数据（item）分为每页多少条数据，默认 5 条
        z-table-row(slot='6')
          z-table-col pageType
          z-table-col String
          z-table-col ( *num | more )
          z-table-col 列表分页类型（加载更多：more | 数字标注（默认）：num）
        z-table-row(slot='7')
          z-table-col pageTrigger
          z-table-col String
          z-table-col ( *scroll | click )
          z-table-col 加载更多的触发模式（滚动到底部自动触发（默认）：scroll | 点击：click）
        z-table-row(slot='8')
          z-table-col autoHideScroller
          z-table-col Boolean
          z-table-col ( *false | true )
          z-table-col 是否自动隐藏滚动条
    +section('props', 'props 数据类型')
      z-table(
          border='row'
          auto
          :pageSize='10')
        template(
            slot='thead'
            v-for='item in ["名字", "返回值类型", "说明"]')
          z-table-col {{ item }}
        z-table-row(slot='1')
          z-table-col switch
          z-table-col Object
          z-table-col
            p 换页触发事件, 返回值说明：
            ul
              li currentPage: 当前页码