include ../../mixin.pug

div.component-transition
  article.example-article
    +section('slide', '滑动')
      z-btn(
        :ui='typeUI'
        :theme='typeTheme'
        @click='slideIn'
      ) 滑动过渡（进来）
      z-btn(
        :ui='typeUI'
        :theme='typeTheme'
        @click='slideOut'
        class='z-css-m-l'
      ) 滑动过渡（离开）
      div.transitioner
        z-motion-slide(
            ref='slide'
            :offset='100'
        )
          div 我被滑动了！
      z-code(type='html', :theme='typeTheme').
        #{'<z-btn @click="slideIn">'}
          滑动过渡（进来）
        #{'</z-btn>'}

        #{'<z-btn @click="slideOut">'}
          滑动过渡（离开）
        #{'</z-btn>'}

        #{'<z-motion-slide ref="slide">'}
          #{'<div>我被滑动了！</div>'}
        #{'</z-motion-slide>'}
      z-code(type='js', :theme='typeTheme').
        ...
          methods: {
            slideIn() {
              this.$refs.slide.enter()
            },
            slideOut() {
              this.$refs.slide.leave()
            }
          }