include ../../mixin.pug

div
  article.example-article
    +section('start', '开始使用')
      z-btn(
        :ui='typeUI'
        :theme='typeTheme'
      ) 提交

      z-code(:theme='typeTheme').
        #{'<z-btn>'}
          提交
        #{'</z-btn>'}
    +section('theme', '按钮主题')
      z-btn.z-css-m-t-double(
        :ui='typeUI'
        :theme='typeTheme'
        type='outline'
        radius='none'
      ) 只有轮廓
      z-code(:theme='typeTheme').
        #{'<z-btn type="outline" radius="none">'}
          #{'只有轮廓'}
        #{'</z-btn>'}
    +section('custom', '自定义按钮内容')
      z-btn(
        :ui='typeUI'
        :theme='typeTheme'
      )
        p custom content

      z-code(:theme='typeTheme').
        #{'<z-btn>'}
          #{'<p>custom content</p>'}
        #{'</z-btn>'}
    +section('disabled', '禁止访问')
      z-btn(
        :ui='typeUI'
        :theme='typeTheme'
        disabled
      ) 禁止访问

      z-code(:theme='typeTheme').
        #{'<z-btn disabled>'}
          禁止访问
        #{'</z-btn>'}
    +section('float', '浮动按钮')
      z-btn(
        :ui='typeUI'
        :theme='typeTheme'
        type='float'
      )
        z-icon(
          kind='search'
          theme='white'
        )

      z-code(:theme='typeTheme').
        #{'<z-btn type="float">'}
          #{'<z-icon kind="search" theme="white"></z-icon>'}
        #{'</z-btn>'}
    +section('text', '文字按钮')
      z-btn(
        :ui='typeUI'
        :theme='typeTheme'
        value='文字'
        type='text'
      )

      z-code(:theme='typeTheme').
        #{'<z-btn type="text" value="文字"></z-btn>'}
    +section('props', 'props 数据类型')
      z-table(
          border='row'
          auto
          :pageSize='10')
        template(
            slot='thead'
            v-for='item in ["名字", "类型", "可选值", "说明"]')
          z-table-col {{ item }}
        z-table-row(slot='1')
          z-table-col block
          z-table-col Boolean
          z-table-col ( *false | true )
          z-table-col 按钮的宽度是父元素的宽度, width: 100%
        z-table-row(slot='2')
          z-table-col disabled
          z-table-col Boolean
          z-table-col ( *false | true )
          z-table-col 禁止点击
        z-table-row(slot='3')
          z-table-col link
          z-table-col String
          z-table-col ——
          z-table-col 链接地址
        z-table-row(slot='4')
          z-table-col radius
          z-table-col String
          z-table-col ( none | *S | M | L)
          z-table-col 按钮边角得半径尺寸
        z-table-row(slot='5')
          z-table-col size
          z-table-col String
          z-table-col ( *S | M | L)
          z-table-col 按钮大小
        z-table-row(slot='6')
          z-table-col submit
          z-table-col Boolean
          z-table-col ( *false | true )
          z-table-col 作为提交按钮
        z-table-row(slot='7')
          z-table-col type
          z-table-col Boolean
          z-table-col ( *button | text | float | outline )
          z-table-col 按钮类型
        z-table-row(slot='8')
          z-table-col value
          z-table-col String
          z-table-col ——
          z-table-col 按钮名字
    +section('props', 'events 组件事件')
      z-table(
          border='row'
          auto
          :pageSize='10')
        template(
            slot='thead'
            v-for='item in ["名字", "返回值类型", "说明"]')
          z-table-col {{ item }}
        z-table-row(slot='1')
          z-table-col click
          z-table-col ——
          z-table-col 点击btn事件
        z-table-row(slot='2')
          z-table-col keyEnter
          z-table-col ——
          z-table-col focus 时敲击 Enter 键
        z-table-row(slot='3')
          z-table-col focus
          z-table-col ——
          z-table-col 按钮获得焦点事件
        z-table-row(slot='4')
          z-table-col blur
          z-table-col ——
          z-table-col 按钮失去焦点事件