include ../../mixin.pug

div.component-transition
  article.example-article
    +section('fold', '折叠')
      z-btn(@click='fold') 折叠
      z-btn(@click='unfold' class='z-css-m-l') 展开
      div.transitioner
        z-fold-transition(
            ref='fold'
            :height='30'
            :offset='100'
        )
          div 我被折叠展开了！
      z-code(type='html').
        #{'<z-btn @click="fold">'}
          折叠
        #{'</z-btn>'}

        #{'<z-btn @click="unfold">'}
          展开
        #{'</z-btn>'}

        #{'<z-fold-transition ref="fold">'}
          #{'<div>我被折叠展开了！</div>'}
        #{'</z-fold-transition>'}
      z-code(type='js').
        ...
          methods: {
            fold() {
              this.$refs.fold.enter()
            },
            unfold() {
              this.$refs.fold.leave()
            }
          }