include ../../mixin.pug

div
  article.example-article
    +section('start', '开始使用')
      z-check(
        :ui='typeUI',
        :theme='typeTheme',
        :option='testOpt'
        :value='1'
      )
      z-code(:theme='typeTheme').
        #{'<z-check></z-check>'}
    +section('multiple', '多选')
      z-check(
        :ui='typeUI',
        :theme='typeTheme',
        check-all
        multiple
        disabled
        vertical
        :option='testOpt.slice(0, 8)'
        :value='[1,2]'
      )
      z-code(:theme='typeTheme').
        #{'<z-check'}
          vertical
          multiple
          check-all
          :option="testOpt.slice(0, 8)"
          :value="[1, 2]"
        #{'></z-check>'}
    +section('props', 'props 数据类型')
      z-table(
          border='row'
          auto
          :pageSize='10')
        template(
            slot='thead'
            v-for='item in ["名字", "类型", "可选值", "说明"]')
          z-table-col {{ item }}
        z-table-row(slot='1')
          z-table-col checkAll
          z-table-col String
          z-table-col (*input | textarea)
          z-table-col 全选 checkbox 的选项
        z-table-row(slot='2')
          z-table-col checkAllLabel
          z-table-col String
          z-table-col 全选
          z-table-col 全选 checkbox 的选项的 label 标签
        z-table-row(slot='3')
          z-table-col disabled （废除），转移到 option 属性里面
          z-table-col Boolean
          z-table-col false
          z-table-col 不可选
        z-table-row(slot='4')
          z-table-col errorText
          z-table-col String
          z-table-col ——
          z-table-col checkbox 没选的时候显示的错误文本
        z-table-row(slot='5')
          z-table-col multiple
          z-table-col Boolean
          z-table-col false
          z-table-col 是否为多选
        z-table-row(slot='6')
          z-table-col option
          z-table-col Array
          z-table-col ——
          z-table-col 选择框数据
        z-table-row(slot='7')
          z-table-col param
          z-table-col String
          z-table-col ——
          z-table-col 表单控件的参数名
        z-table-row(slot='8')
          z-table-col required
          z-table-col String
          z-table-col false
          z-table-col 是否必选
        z-table-row(slot='9')
          z-table-col textName
          z-table-col String
          z-table-col ——
          z-table-col 指定读取 checkboxItems 的 text 值的 key 的名字
        z-table-row(slot='10')
          z-table-col value
          z-table-col Number, Array
          z-table-col ——
          z-table-col 初始化时选中的值，默认为第一项， 是checkbox 則為數組
        z-table-row(slot='11')
          z-table-col valueName
          z-table-col String
          z-table-col ——
          z-table-col 指定读取 checkboxItems 的 value 值的 key 的名字
        z-table-row(slot='12')
          z-table-col vertical
          z-table-col Boolean
          z-table-col false
          z-table-col 选择框是否垂直分布（默认 false，是水平分布）
    +section('events', 'events 组件事件')
      z-table(
          border='row'
          auto
          :pageSize='10')
        template(
            slot='thead'
            v-for='item in ["名字", "返回值类型", "说明"]')
          z-table-col {{ item }}
        z-table-row(slot='1')
          z-table-col check
          z-table-col Object
          z-table-col
            p 以下的为返回值说明
            ul
             li value - 选择框的值
             li currentIndex - 当前选择框的索引值（从 1 开始）