include ../../mixin.pug

div.component-pop
  article.example-article
    +section('start', '弹窗')
      z-btn(
        :ui='typeUI'
        :theme='typeTheme'
        @click='tip'
      ) 提示
      z-code(:theme='typeTheme').
        #{'import { tip } from "vue2do"'}

        #{'<z-btn @click="tip">'}
          提示
        #{'</z-btn>'}
    +section('start', '底部弹出提示（toast）')
      z-btn(
        :ui='typeUI'
        :theme='typeTheme'
        @click='toast'
      ) toast
      z-code(:theme='typeTheme').
        #{'import { toast } from "vue2do"'}

        #{'<z-btn @click="toast">'}
          toast
        #{'</z-btn>'}
    +section('bubble', '泡泡提示')
      z-btn(
        :ui='typeUI'
        :theme='typeTheme'
        @click='showTooltip'
        @blur='hideTooltip'
        ref='bubbleBtn'
      ) 泡泡提示
      z-bubble(
        :ui='typeUI'
        :theme='typeTheme'
        ref='bubble'
        fixed,
        :target='bubbleTarget'
      )
        p 泡泡提示
      z-code(type='js', :theme='typeTheme').
        ...
          showTooltip({
            event
          }) {
            this.tooltip = tooltip({
              message: 'tooltip',
              target: event.currentTarget
            })
          },

          hideTooltip() {
            this.tooltip.hide && this.tooltip.hide()
          }
        ...
      z-code(type='html', :theme='typeTheme').
        #{'<z-btn @click="showTooltip" @blur="hideTooltip">'}
          泡泡提示
        #{'</z-btn>'}
