include ../../mixin.pug

div.component-pop
  article.example-article
    +section('start', '弹窗')
      z-btn(@click='tip') 提示
      z-code.
        #{'import { tip } from "vue2do"'}

        #{'<z-btn @click="tip">'}
          提示
        #{'</z-btn>'}
    +section('start', '底部弹出提示（toast）')
      z-btn(@click='toast') toast
      z-code.
        #{'import { toast } from "vue2do"'}

        #{'<z-btn @click="toast">'}
          toast
        #{'</z-btn>'}
    +section('bubble', '泡泡提示')
      z-btn(
        @click.native='bubble'
        v-bubble='bubbleTip'
      ) 泡泡提示
      z-bubble(
        ref='bubble'
        v-click-parent='clickParent'
      )
        p 泡泡提示
      z-code.
        #{'<z-btn @click="toast">'}
          泡泡提示
        #{'</z-btn>'}
        #{'<z-btn @click="toast">'}
          #{'<p>泡泡提示</p>'}
        #{'</z-btn>'}
