include ../../mixin.pug

div.component-transition
  article.example-article
    +section('rip', '涟漪')
      z-btn(@click='rip') 开始涟漪
      div.transitioner
        div.transitioner-rip
          div 我有涟漪效果了！
          z-motion-rip(
              ref='rip'
              :offset='100'
          )
      z-code(type='html').
        #{'<z-btn @click="rip">'}
          开始涟漪
        #{'</z-btn>'}

        #{'<z-motion-rip ref="rip">'}
          #{'<div>我有涟漪效果了！</div>'}
        #{'</z-motion-rip>'}
      z-code(type='js').
        ...
          methods: {
            rip() {
              this.$refs.rip.enter()
            }
          }
