include ../../mixin.pug

div.component-pop
  article.example-article
    +section('start', '弹窗')
      z-btn(@click='showPop') 显示弹出层
      z-btn(@click='hidePop' class='z-m-l') 隐藏弹出层
      z-pop(ref='pop' direction='north' position='left')
        p 这是一个简单
        p {{testName}}
      z-code.
        #{'<z-btn @click="simple">'}
          确认
        #{'</z-btn>'}
        #{'<z-modal ref="simple">'}
          #{'<p> 这是一个简单</p>'}
          #{'<p> 的小弹窗</p>'}
        #{'</z-modal>'}