include ../../mixin.pug

div
  article.example-article
    +section('start', '开始使用')
      z-input(ref='startInput')
      z-code.
        #{'<z-input></z-input>'}
    +section('textarea', '输入区域')
      z-input(
        type='area',
        :row='4',
        placeholder='请输入...')
      z-code.
        #{'<z-input type="row" :row="4" placeholder="请输入..."></z-input>'}
    +section('completion', '补全功能')
      z-input(
          completion
          placeholder='请输入...会补全的...'
          ref='input')
        z-search(
          :option='testOpt'
          :input='false'
          ref='completion'
          slot='completion')
      z-code.
        #{'<z-input'}
            #{'completion'}
            #{'placeholder="请输入...会补全的..."'}
            #{'ref="input">'}
          #{'<z-search'}
              #{':option="testOpt"'}
              #{'ref="completion"'}
              #{'slot="completion"></z-search>'}
        #{'<z-input>'}
    +section('verify', '验证功能')
      z-input(
          :min='2'
          :max='11'
          error-message='手机'
          placeholder='限制只能输入2-10位以内'
          verified-type='mobile'
          :header-span='4'
          ref='verifyInput')
      z-btn(class='z-m-l' @click.native='clickVerifyInput') 点击验证是否为手机
      z-code.
        #{'<z-input'}
            :min="2"
            :max="10"
            error-message="邮箱"
            placeholder="限制只能输入2-10位以内"
            verifedType="email"
            #{'ref="verifyInput"></z-input>'}
    +section('append', '添加附加项')
      z-input(
          :min='2'
          :max='10'
          error-message='邮箱'
          placeholder='限制只能输入2-10位以内'
          verified-type='email'
          :header-span='4')
        div(slot='header')
          z-menu(:init-opt='testOpt', style={width: '40px'})
      z-btn(class='z-m-l') 点击验证是否为邮箱
      z-code.
        #{'<z-input'}
            :min="2"
            :max="10"
            error-message="邮箱"
            placeholder="限制只能输入2-10位以内"
            verifedType="mobile"
            #{'ref="verifyInput"></z-input>'}
    +section('props', 'props 数据类型')
      z-table(
          border='row'
          auto
          :pageSize='10')
        template(
            slot='thead'
            v-for='item in ["名字", "类型", "可选值", "说明"]')
          z-table-col {{ item }}
        z-table-row(slot='1')
          z-table-col hidden
          z-table-col Boolean
          z-table-col ——
          z-table-col 设置为隐藏域
        z-table-row(slot='2')
          z-table-col initVal
          z-table-col All
          z-table-col ——
          z-table-col 设置当前输入框的值
        z-table-row(slot='3')
          z-table-col number
          z-table-col Boolean
          z-table-col ——
          z-table-col 输入框的数字指定为 nmuber 类型
        z-table-row(slot='4')
          z-table-col placeholder
          z-table-col String
          z-table-col ——
          z-table-col 占位符
        z-table-row(slot='5')
          z-table-col queryName
          z-table-col String
          z-table-col ——
          z-table-col 查询参数名
        z-table-row(slot='6')
          z-table-col readOnly
          z-table-col Boolean
          z-table-col ——
          z-table-col 是否为只读状态
        z-table-row(slot='7')
          z-table-col required
          z-table-col Boolean
          z-table-col ——
          z-table-col 是否为必填，默认否
        z-table-row(slot='8')
          z-table-col row
          z-table-col Number
          z-table-col ——
          z-table-col textarea 的行数, 默认为 4
        z-table-row(slot='9')
          z-table-col textLengthTip
          z-table-col Boolean
          z-table-col ( *false | true )
          z-table-col 显示当前输入的长度的提示
        z-table-row(slot='10')
          z-table-col type
          z-table-col String
          z-table-col (*input | textarea)
          z-table-col 输入类型( text | textarea )
        z-table-row(slot='11')
          z-table-col theme
          z-table-col String
          z-table-col (default | *primary)
          z-table-col 主题
        z-table-row(slot='12')
          z-table-col errorMessage
          z-table-col String
          z-table-col ——
          z-table-col input 为空和格式不对的错误信息
        z-table-row(slot='13')
          z-table-col errorTipType
          z-table-col String
          z-table-col ( bubble | *tip )
          z-table-col 弹出错误提示的类型（ bubble | tip ）
        z-table-row(slot='14')
          z-table-col formatMessage
          z-table-col String
          z-table-col ——
          z-table-col 格式错误的提示信息
        z-table-row(slot='15')
          z-table-col min
          z-table-col Number
          z-table-col ——
          z-table-col input，textarea 可输入最小长度（数字）
        z-table-row(slot='16')
          z-table-col max
          z-table-col Number
          z-table-col ——
          z-table-col input，textarea 可输入最大长度（数字）
        z-table-row(slot='17')
          z-table-col regex
          z-table-col String
          z-table-col ——
          z-table-col 验证值的正则
        z-table-row(slot='18')
          z-table-col verifedType
          z-table-col String
          z-table-col (email | phone | password | url | tel)
          z-table-col 验证值的类型
        z-table-row(slot='19')
          z-table-col completion
          z-table-col Boolean
          z-table-col ——
          z-table-col 是否启用自动搜索补全功能
    +section('events', 'events 组件事件')
      z-table(
          border='row'
          auto
          :pageSize='10')
        template(
            slot='thead'
            v-for='item in ["名字", "返回值类型", "说明"]')
          z-table-col {{ item }}
        z-table-row(slot='1')
          z-table-col change
          z-table-col Object
          z-table-col
            p 以下的为返回值说明
            ul
             li emitter - 派送事件的宿主
             li value - 输入框的值
        z-table-row(slot='2')
          z-table-col focus
          z-table-col Object
          z-table-col
            p 以下的为返回值说明
            ul
             li emitter - 派送事件的宿主
        z-table-row(slot='3')
          z-table-col blur
          z-table-col Object
          z-table-col
            p 以下的为返回值说明
            ul
             li emitter - 派送事件的宿主
        z-table-row(slot='4')
          z-table-col keyup
          z-table-col Object
          z-table-col
            p 以下的为返回值说明
            ul
             li emitter - 派送事件的宿主