include ../../mixin.pug

div.component-pop
  article.example-article
    z-message(ref='message', message='wanyea玩野啊')
    +section('start', '弹窗')
      z-btn(@click='simple') 确认
      z-modal(ref='simple')
        p 这是一个简单
        p 的小弹窗
      z-code.
        #{'<z-btn @click="simple">'}
          确认
        #{'</z-btn>'}
    +section('alert', '警告弹窗')
      z-btn(@click='alert') 警告弹窗
      z-code.
        #{'<z-btn @click="alert">'}
          警告弹窗
        #{'</z-btn>'}
    +section('confirm', '确认弹窗')
      z-btn(@click='confirm') 确认弹窗
      z-code.
        #{'<z-btn @click="confirm">'}
          这是一个确认弹窗
        #{'</z-btn>'}
    +section('full', '全屏弹窗 (移动端) ')
      z-btn(@click='showFullPop') 全屏弹窗
      z-btn(@click='hideFullPop') 隐藏全屏弹窗
      z-modal(
          commit
          header='dasfdfasdf'
          ok-btn='发布'
          type='full'
          ref='fullPop')
        - var n = 0
        while n < 6
          p full-#{n++}
      z-code.
        #{'<z-pop header-name="custom" ref="pop">'}
          #{'<p>custom</p>'}
        #{'</z-pop>'}
    +section('pure', '纯自定义弹窗')
      z-btn(@click='purePop') 自定义弹窗
      z-pop(
          no-click-bg-hide,
          pop
          ref='purePop')
        img(
          width='100%'
          :src='homeBgImg')
      z-code.
        #{'<z-pop'}
            header-name="custom"
            ref="pop"
          #{'<p>pure custom</p>'}
        #{'</z-pop>'}