include ../../mixin.pug

div.component-pop
  article.example-article
    +section('confirm', '弹窗')
      z-btn(@click='alert') 确认
      z-code.
        #{'<z-btn @click="alert">'}
          确认
        #{'</z-btn>'}
    +section('confirm', '确认弹窗')
      z-btn(@click='confirm') 确认弹窗
      z-code.
        #{'<z-btn @click="confirm">'}
          确认
        #{'</z-btn>'}
    +section('custom', '自定义弹窗')
      z-btn(@click='customPop') 自定义弹窗
      z-pop(
          no-click-bg-hide,
          pop
          header-name='custom'
          ref='pop')
        p custom
      z-code.
        #{'<z-btn @click="alert">'}
          自定义弹窗
        #{'</z-btn>'}