include ../../mixin.pug

div.component-modal
  article.example-article
    +section('start', '弹窗')
      z-btn(@click='simple') 确认
      z-modal(ref='simple')
        p 这是一个简单
        p 的小弹窗
      z-code.
        #{'<z-btn @click="simple">'}
          确认
        #{'</z-btn>'}
        #{'<z-modal ref="simple">'}
          #{'<p> 这是一个简单</p>'}
          #{'<p> 的小弹窗</p>'}
        #{'</z-modal>'}
    +section('alert', '警告弹窗')
      z-btn(@click='alert') 警告弹窗
      z-code.
        #{'<z-btn @click="alert">'}
          警告弹窗
        #{'</z-btn>'}
    +section('confirm', '确认弹窗')
      z-btn(@click='confirm') 确认弹窗
      z-code.
        #{'<z-btn @click="confirm">'}
          这是一个确认弹窗
        #{'</z-btn>'}
    +section('full', '全屏弹窗 (移动端) ')
      z-btn(@click='showFullPop') 全屏弹窗
      z-modal(
          commit
          header='dasfdfasdf'
          ok-btn='发布'
          type='full'
          ref='fullPop')
        - var n = 0
        while n < 8
          p full-#{n++}
      z-code.
        #{'<z-modal header-name="custom" ref="modal">'}
          #{'<p>custom</p>'}
        #{'</z-modal>'}