include ../../mixin.pug

div
  article.example-article
    +section('start', '开始使用')
      z-scroller(:height='150')
        p 这是滚动内容 请滑动 (滚动)
        p 这是滚动内容 请滑动 (滚动)
        p 这是滚动内容 请滑动 (滚动)
        p 这是滚动内容 请滑动 (滚动)
        p 这是滚动内容 请滑动 (滚动)
        p 这是滚动内容 请滑动 (滚动)
      z-code(:theme='typeTheme').
        #{'<z-scroller :height="150">'}
          #{'<p>这是滚动内容 请滑动 (滚动)</p>'}
          #{'<p>这是滚动内容 请滑动 (滚动)</p>'}
          #{'<p>这是滚动内容 请滑动 (滚动)</p>'}
          #{'<p>这是滚动内容 请滑动 (滚动)</p>'}
          #{'<p>这是滚动内容 请滑动 (滚动)</p>'}
          #{'<p>这是滚动内容 请滑动 (滚动)</p>'}
        #{'</z-scroller>'}
    +section('props', 'props 数据类型')
      z-table(
          border='row'
          auto
          :pageSize='10')
        template(
            slot='thead'
            v-for='(item, index) in ["名字", "类型", "可选值", "说明"]')
          z-table-col(:max-width='index === 3 ? "23px" : ""') {{ item }}
        z-table-row(slot='1')
          z-table-col height
          z-table-col String, number
          z-table-col ( *'100%' | 'auto' | {Number} )
          z-table-col 滚动区域的最大高度
        z-table-row(slot='2')
          z-table-col width
          z-table-col String, number
          z-table-col ( *'100%' | 'auto' | {Number} )
          z-table-col 滚动区域的最大宽度
        z-table-row(slot='3')
          z-table-col autoHide
          z-table-col Boolean
          z-table-col ——
          z-table-col 自动隐藏滚动条, 默认为 false
    +section('events', 'events 组件事件')
      z-table(
          border='row'
          auto
          :pageSize='10')
        template(
            slot='thead'
            v-for='item in ["名字", "返回值类型", "说明"]')
          z-table-col {{ item }}
        z-table-row(slot='1')
          z-table-col scrollY
          z-table-col Object
          z-table-col
            p X 轴的滚动事件, 以下的为返回值说明
            ul
             li isRight - 滚动条是否到结束的地方
             li isLeft - 滚动条是否到开始的地方
             li top - 滚动条到滚动区域的顶部的当前距离
             li offset - 滚动条离滚动区域的顶部的距离
        z-table-row(slot='2')
          z-table-col scrollX
          z-table-col Object
          z-table-col
            p Y 轴的滚动事件, 以下的为返回值说明
            ul
             li isBottom - 滚动条是否到低
             li isTop - 滚动条是否到顶
             li top - 滚动条到滚动区域的顶部的当前距离
             li offset - 滚动条离滚动区域的顶部的距离
        z-table-row(slot='3')
          z-table-col changeYBar
          z-table-col Object
          z-table-col
            p x-bar 滚动条改变
            ul
             li isRight - 滚动条是否到结束的地方
             li isLeft - 滚动条是否到开始的地方
             li top - 滚动条到滚动区域的顶部的当前距离
             li offset - 滚动条离滚动区域的顶部的距离
        z-table-row(slot='4')
          z-table-col scrollX
          z-table-col Object
          z-table-col
            p y-bar 滚动条改变
            ul
             li isBottom - 滚动条是否到低
             li isTop - 滚动条是否到顶
             li top - 滚动条到滚动区域的顶部的当前距离
             li offset - 滚动条离滚动区域的顶部的距离
        z-table-row(slot='5')
          z-table-col changeHeight
          z-table-col Object
          z-table-col 滚动内容的高度变化