include ../../mixin.pug

div.component-transition
  article.example-article
    +section('fade', '淡淡')
      z-btn(
        :ui='typeUI'
        :theme='typeTheme'
        @click='fadeIn'
      ) 淡入
      z-btn(
        :ui='typeUI'
        :theme='typeTheme'
        @click='fadeOut'
        class='z-css-m-l'
      ) 淡出
      div.transitioner
        z-motion-fade(
          ref='fade'
          :offset='100'
        )
          div 我被淡淡了！
      z-code(type='html', :theme='typeTheme').
        #{'<z-btn @click="fadeIn">'}
          淡入
        #{'</z-btn>'}

        #{'<z-btn @click="fadeOut">'}
          淡出
        #{'</z-btn>'}

        #{'<z-motion-fade ref="fade">'}
          #{'<div>我被淡淡了！</div>'}
        #{'</z-motion-fade>'}
      z-code(type='js', :theme='typeTheme').
        ...
          methods: {
            fadeIn() {
              this.$refs.fade.enter()
            },
            fadeOut() {
              this.$refs.fade.leave()
            }
          }