include ../../mixin.pug

div
  article.example-article
    +section('start', '开始使用')
      z-form(slot='1' ref='formArea')
        z-row
          z-col(:span='6') test2:
          z-col(:span='6')
            z-select(
              name='名字'
              :ui='typeUI'
              :theme='typeTheme'
              :option='testOpt'
              param='name'
            )
        z-row
          z-col(:span='6') name:
          z-col(:span='6')
            z-input(
              name='性别'
              required
              value='2'
              param='sex'
            )
        z-row
          z-col(:span='6')
            z-btn(ref='submit' @click='submit') 提交

      z-code(:theme='typeTheme').
        #{'<z-btn>'}
          提交
        #{'</z-btn>'}